.modalCloseBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: transform ease-in 400ms;
}

.modalCloseBtn:hover {
transform: rotate(180deg);
        }


.modalImg {
    object-fit: cover;
}

.modalImgWrap {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 14px;
}

.carDesWrap {
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 14px;
}

.carDesSvg {
    margin-right: 6px;
}

.carDesTxt {
    margin-right: 6px;
    color: rgba(18, 20, 23, 0.50);
}

.carTitleWrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.carTxt {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 0.2rem;
}

.carTxt:nth-child(2) {
    color: #3470FF;
}

.carDescription{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}

.carModalTitles{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.carDesItem{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.rentalConditions{
    color: #363535;
    padding: 7px 14px;
    width: max-content;
    font-weight: 400;
    line-height: 18px;
    border-radius: 35px;
    background: #F9F9F9;
}

.ageColor{
    font-weight: 600;
    color: #3470FF;
}

.carsItemBtn {
    font-family: inherit;
    border-radius: 12px;
    background: #3470FF;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 50px;
    border: none;

}

.carsItemBtn:hover {
    background: #0B44CD;

}
