@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {

  cursor: pointer;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fff;
  margin: 0;
font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .homeWrap {
  padding: 100px 10px;

}

.homeTitle {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
} */


.active {
  color: #3470FF;
  text-decoration: underline solid white;
  text-underline-offset: 5px;

}
/* 
.mapWrap {

  margin-top: -41px;
}

.homeNav {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.homeLink:hover {
  transform: scale(1.08);
} */

.basic-single,
.select{
  /* width: 224px;
    height: 48px;
    padding: 14px 18px;
    border-radius: 14px; */
    border: none;
    background-color: #F7F7FB;
    /* font-family: "Manrope", sans-serif;
    color: #121417;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; */
}